RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?$1 [L,QSA]

#RewriteRule ^custom$ index.php [NC,L]

#RewriteRule ^index/([0-9a-zA-Z]+)$ index.php?p=$1 [NC,L]
 